*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    position:relative;
}

#nav-container{
    width: 100vw;
    height: 10vh;
    background-color: #251E1E;
    position: fixed;
}

aside{
    position: fixed;
    width: 25vw;
    height: 86vh;
    margin-top: 4px;
    border-right: 2px solid rgb(35, 62, 71);
    padding: 5px;
    top: 10vh;
    left: 0px;
}

#main-display{
    position: absolute;
    width: 70vw;
    height: 86vh;
    left: 26vw;
    top: 12vh;
    margin-top: 4px;
    padding: 10px;
    overflow-y: auto;
    border: 1px solid rgb(202, 196, 196);
    box-shadow: 3px 3px 30px 5px rgb(202, 196, 196);
}

#nav-container{
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
}
.nav{    
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    font-weight: 700;    
    padding: 20px;
    margin: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;    
}

.active-nav{
    color: #E1AC86;
    font-size: 1.4rem;
}


.list {    
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 2px 5px;
    height: 50px;
}
.list > div {
    display: flex;
    justify-content: space-between;
}

.users-list{
    background-color: rgb(126, 203, 233);
    padding: 5px;
    margin: 8px 5px;
    border-radius: 5px;
    height: 50px;

}

.users-list > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px;
    margin: 4px;
}

/* all Album tab list styling */
.album-list {
    background-color: rgb(47, 90, 107);    
    color: rgb(240, 231, 221);   
}
.album-list > p{
    text-align: right;
}


/* list of all Photo styling */
.photo-list{
    color: rgb(35, 66, 78);
    border: 1px solid rgb(35, 66, 78);
    width: fit-content;
}

.photo-list > h3{
    display: inline-block;
}

.photo-list > div{
    height: 40px;    
    width: 40px;
    display: inline-block;
    margin-left: 40px;
}
.photo-list > div>img{
    width: 100%;
    height: 100%;
}

/* list of all Todos styling */
.todo-list{
    color: rgb(35, 66, 78);
    border: 1px solid rgb(35, 66, 78);
    
}

.todo-list > h3{
    display: inline-block;
}
.completed{
    text-align: right;
    border: 2px solid green;
    color: green;
    padding: 4px;
    font-size: 1.2rem;
}
.uncompleted{
    text-align: right;
    border: 2px solid red;
    color: red;
    padding: 4px;
    font-size: 1.2rem;
}


.todo-list > p{
    text-align: right;
}
